{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col">
    <h1>{{ message }}</h1>
    {# Este es un comentario de Django #}
        <ul class="list-group">
            {% for product in products %}
                <li class="list-group-item">
                    {{ product.title }}
                        <span>
                                <span class="text-success">${{ product.price }}</span>
                        </span>
                </li>
            {% endfor %}
        </ul>
        
    <!-- <img src="{% static 'images/580b585b2edbce24c47b2747.png' %}" alt="imagen de mochila"> -->
    
</div>
{% endblock  %}


